# **DDC-2: numpy array to pandas dataframe**
Create a 10x4 matrix in numpy in which the first column contains the row index squared, and the other three columns contain normally distributed random numbers. Convert to a pandas dataframe in which the row labels are “A”, “B”, etc., and the column labels are “one”, “two”, etc. Your dataframe should look like this:
<p align="center">
  <img src="images/img_ddc_02.png" alt="np to pd" width="400">
</p>

In [1]:
# Libs
import pandas as pd
import numpy as np
import string

In [ ]:
np_data = np.zeros((10,4))
np_data.shape

(10, 4)

In [ ]:
np_data[:,0]    = [ np.square(i) for i in range(np_data.shape[0]) ]
np_data[:,1:]   = np.random.normal(size=(10,3))

In [16]:
index_vals = sorted(list(set(string.ascii_uppercase)))[:len(np_data)]
index_vals

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [ ]:
pd_data = pd.DataFrame(np_data, columns=["one","two","three","four"], index=index_vals)
pd_data["one"] = pd_data["one"].astype(int)
pd_data

   one       two     three      four
A    0 -0.351688  0.659932 -0.232739
B    1 -0.126325 -1.222363  0.549403
C    4  1.773764 -0.731225  0.803944
D    9  0.219394 -0.060040 -1.172473
E   16 -1.938657  0.950529  1.077929
F   25 -2.138582  0.127077 -0.469816
G   36 -0.239188  0.403408 -0.162278
H   49 -1.989581 -0.476279 -0.201202
I   64 -1.098980 -0.720103  0.794026
J   81  0.979153 -0.294738  0.452494